**Print 1 to N**

In [1]:
def count_numbers(n):
  for i in range(n):
    print(i+1)

count_numbers(10)

1
2
3
4
5
6
7
8
9
10

**Sum of N Numbers**

In [4]:
def sum_of_numbers(n):
  i = 1
  sum = 0
  while i <= n:
    sum += i
    i += 1
  print("Sum using while loop:",sum)
  sum = n * (n+1)//2
  print("Sum using the formula n*(n+1)//2:",sum)

sum_of_numbers(5)

Sum using while loop: 15
Sum using the formula n*(n+1)//2: 15

**Factorial of a Number**

In [6]:
def factorial_iterative(n):
  i = 1
  ans = 1
  while i <= n:
    ans = ans * i
    i += 1
  print("Factorial calculated iteratively is:",ans)

def factorial_recursive(n):
  if n == 1:
    return 1
  return n * factorial_recursive(n-1)

factorial_iterative(5)
print("Factorial calculated recursively:",factorial_recursive(5))

Factorial calculated iteratively is: 120
Factorial calculated recursively: 120

**Reverse a Number**

In [7]:
def reverse_number(n):
  ans = 0
  while(n>0):
    ans = ans*10 + n%10
    n = n//10
  print("Reverse of the number is:",ans)

reverse_number(1234)

Reverse of the number is: 4321

**Count Digits**

In [9]:
def count_digits(n):
  ans = 0
  while n > 0:
    ans += 1
    n = n//10
  print("Number of digits is:",ans)

count_digits(12345)

Number of digits is: 5

**Patterns**

In [10]:
def pattern_1(n):
  for i in range(n):
    print("*"*n)

pattern_1(5)

*****
*****
*****
*****
*****

In [13]:
def pattern_2(n):
  for i in range(n):
    if i == 0 or i == n-1:
      print("*"*n)
    else:
      print("*"," "*(n-4),"*")

pattern_2(5)

*****
*   *
*   *
*   *
*****

In [14]:
def half_pyramid(n):
  for i in range(n):
    print("*"*(i+1))

half_pyramid(5)

*
**
***
****
*****

In [15]:
def inverted_half_pyramid(n):
  for i in range(n):
    print("*"*(n-i))

inverted_half_pyramid(5)

*****
****
***
**
*

In [16]:
def number_pyramid(n):
  for i in range(n):
    for j in range(i+1):
      print(j+1,end="")
    print()

number_pyramid(5)

1
12
123
1234
12345